*{
    margin: 0%;
    padding: 0%;
}
header .settings img{
    position: absolute;
    height: auto;
    width: 3rem;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
}
body{
    background-image: url(assets/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;

}
.main-container{
    display: flex;
}
.Bazinga-bg{ 
    position: absolute;
    top: 6rem;  
    left: 6rem; 
    height: 25%;
    transform: rotate(-25deg);
    font-family: 'Teko', sans-serif;
    font-size: 7rem;
    background: -webkit-linear-gradient(#AAA, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-container .menu li a{
    text-decoration: none;
}
.main-container .menu li{
    list-style: none;
}

.menuDiv{
    position: absolute;
    top: 11rem;
    left: 15rem;
}
.main-container .menuDiv ul li a{
    font-size: 6rem;
    font-family: 'Teko', sans-serif;
    color: coral;
}
.main-container .menuDiv ul li :hover{
    color: aquamarine;
}
